header{
    width:100%;
    height: 100px;
    display:flex;
    justify-content: center;
}
.headblock
{
   
    width:200px;

}

a.glo{
    color:#2b66d4;
    padding: 10px 20px;
    width:100px;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#20edfc 50%,#d5dadb);
    background-position: 1000% 0;
    background-size: 1000% 1000%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #453091;
}
   a.glo:hover {
   background-position: 0 0;
   color:#fff;
   }

   body{
    background-image: url(fon.jpg); 
    background-repeat: no-repeat;
     background-size: 800%
   }
   .grid{
    padding: 10px 15px;
    background-color: #69bcc775;
    border: #7aa3e0e7;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
   }
   /* сетка */
      .grid{
        display:grid;

        grid-template-rows: 200px 200px;
       grid-column-gap: 10px; 
       grid-row-gap: 20px;
    }
 .law
{
  padding: 10px;
  border:7px solid #6aabe073;
}
*, *:after, *:before { 
	
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #527c82;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align:center ;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.beauty-rotate {
	width: 650px;
	height: 500px;
	border: 4px double #4e46b6; 
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
  } 
  .beauty-rotate:hover {
	border-radius: 30%;
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
  }

  .rich {
	margin:70px;
    
   }
  
 
 
 
 
 
 
 
 
 
 
  .mask{
    --uiMaskClipPath: var(--maskClipPath);
    box-sizing: var(--maskBoxSizing, border-box);
    display: var(--maskDisplay, inline-flex);
    padding: var(--maskStrokeThickness, 3px);
    clip-path: var(--uiMaskClipPath);
    background-color: var(--maskStrokeColor, currentColor);
    --maskStrokeColor: #4e9cc9; /* Цвет рамки */
    --maskStrokeThickness: 10px; /* Ширина рамки */ 
}
.mask-img{
    max-width: 100%;
    display: block;
    clip-path: var(--uiMaskClipPath);
}
.mask, 
.mask-img{
    transition: clip-path var(--maskAnimationDuration, .2s) var(--maskAnimationTimingFunction, ease-out);
}
/* Первая рамка */
.mask-one{
    --maskClipPath: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
}
.mask-one-frame{
    --maskAnimationDuration: .4s;
}
.mask-one:hover, 
.mask-one:focus{
    --maskClipPath: polygon(0 0, 100% 0, 100% 10%, 100% 100%, 90% 100%, 0% 100%, 0% 90%, 0% 10%);
}













#navbar {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100px;
  }
  #navbar li {
	border-left: 10px solid #666;
	border-bottom: 1px solid #666;
  }
  #navbar a {
	background-color: #949494;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	font-weight: bold;
	border-left: 5px solid #33ADFF;
	display: block;
  }



  #navbar ul{
	display: none;
	background-color: #f90;
	position: absolute;
	top: 100%;
  }
  #navbar li:hover ul { display: block; }
  #navbar, #navbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  #navbar {
	height: 30px;
	background-color: #666;
	padding-left: 25px;
	min-width: 470px;
  }
  #navbar li {
	float: left;
	position: relative;
	height: 100%;
  }
  #navbar li a {
	display: block;
	padding: 6px;
	width: 100px;
	color: #fff;
	text-decoration: none;
	text-align: center;
  }
  #navbar ul li { float: none; }
  #navbar li:hover { background-color: #f90; }
  #navbar ul li:hover { background-color: #666; }









 .rotate-block {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  /* Изображение */
  .change-img {
	width: 700px;
	height: 500px;
	position: relative;
	perspective: 1000px;
	border: 1px solid #d68360; /* Рамка */
  }
  .change-img:hover .front-side-img {
	transform: rotateY(180deg);
  }
  .change-img:hover .back-side-img {
	transform: rotateY(360deg);
  }
  /* Стороны изображения */
  .front-side-img, .back-side-img {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	back-side-imgface-visibility: hidden;
   }
  .front-side-img img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
  }
  .back-side-img img {
	max-width: 100%;
	min-width: 100%;
	height: auto;
	transform: scaleX(-1);/* Отражаем изображение по горизонтали */
  }
  .back-side-img {
	transform: rotateY(180deg);
  }
